
.scale {
    width: 30px;
    height: 30px;

   
    /*increases amounts that amount of times*/
    transform: scale(10,2);

    /*decreases that amount of times*/
    transform: scale(0.5, 0.25);

    /*flips the x-axis*/
    transform: scale(-5,1);
    transform: scaleX(-5);

    /*flips the y-axis*/
    transform: scale(1,-5);
    transform: scaleY(-5); 

    float: right;
}

.box{
    background: red;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 20px;
}

.skew-20{
    transform: skewX(20deg);
}

.skew-x-neg-20{
    /* transform: skewX(-20deg);  */
    animation: skew-horizontal 3s infinite;
    animation-direction: alternate;
}

.skew-neg-50{
    transform: skewX(-50deg);
}

.skew-y-neg-20{
    /* transform: skewX(-20deg);  */
    animation: skew-verticle 3s infinite;
    animation-direction: alternate;
}


@keyframes skew-horizontal{
    0%{
        transform: skewX(20deg);
    }
    100%{
        transform: skewX(-20deg);
    }
}

@keyframes skew-verticle{
    0%{
        transform: skewY(20deg);
    }
    100%{
        transform: skewY(-20deg);
    }
}
